/persistence/target/
/mod-api/target/
/common-models/target/
/modCounterClock/target/
/JMonkeyClient/target/
/JMonkeyClient/dependency-reduced-pom.xml
/modWindTunnel/target/
modWindTunnel/target
/JMonkeyClient/pom.xml.versionsBackup
/shipModelY/target/
*.versionsBackup
/shipModelZ/target/